html{
    display: flow; 
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    align-content: space-around;

    background-color: #547F43;
    height: 515px;
    width: 620px; 
    /* padding: 0px !important; */
    /* overflow: hidden; */
};

.main-container{
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: #2C5F2D;
    width: 450px; 
    height: 390px;
}

.title-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color:  #DAB033;
    color: #333333;
    height: 40px;
    width: 605px;
}

.leaderboard-list{
    overflow: auto; 
    display: flow; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    background-color:#FAFAF1;
    margin-top: 4px;
    height: 455px;
    width: 605px;  
}

/* #row{
    display: flow; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 5px; 
    background-color: rgb(112, 193, 119);
    height: 40px;
    width: 530px; 
}

#position{
    font-size: large;
}

#name{
    font-size: large;
}
#rank{
    font-size: large;
}
#totalScore{
    font-size: large;
} */


/* .data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 193, 119);
    margin: 5px;
    height: 30px;
    width: 580px;  // Adjust the width as needed 
    padding: 5px;
    border-radius: 1px;
}


.data-row strong {
    font-size: large;
    margin-right: 10px;
} */


.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 193, 119);
    margin: 5px;
    height: 30px;
    width: 585px;
    padding: 5px;
    border-radius: 1px;
}

.data-row div {
    margin-right: 10px; /* Adjust space between columns */
    white-space: nowrap; /* Prevents the text from wrapping */
}

.position-div {
    padding-left: 10px;
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 60px; /* Or a width that fits your content */
    text-align: center;
}

.rank-div{
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 60px; /* Or a width that fits your content */
    text-align: center;
}

 .totalScore-div {
    padding-right: 10px;
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 60px; /* Or a width that fits your content */
    text-align: center;
}

.name-div {
    padding-left: 70px;
    flex: 1 1 auto; /* Allow to grow and shrink */
    text-align: left; /* Aligns the name to the left */
}

.rank-div {
    padding-right: 40px;
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 80px; /* Or a width that fits your content */
    text-align: center;
} 

.totalScore-div {
    flex: 0 0 auto; /* Do not grow or shrink */
    width: 80px; /* Or a width that fits your content */
    text-align: center;
}
