html{
    display: flow; 
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    align-content: space-around;

    background-color:  rgb(74, 104, 74);
    height: 400px;
    width: 600px; 
    /* padding: 0px !important; */
    overflow: hidden;
};

.main-container{
    display: flex; 
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(89, 125, 89);
    width: 590px; 
    height: 390px;
}

.title-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color:  rgb(212, 191, 2);
    height: 40px;
    width: 580px;
}

.leaderboard-list{
    overflow: auto; 
    display: flow; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    background-color: rgb(226, 127, 127);
    margin-top: 4px;
    height: 320px;
    width: 580px;  
}

/* #row{
    display: flow; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 5px; 
    background-color: rgb(112, 193, 119);
    height: 40px;
    width: 530px; 
}

#position{
    font-size: large;
}

#name{
    font-size: large;
}
#rank{
    font-size: large;
}
#totalScore{
    font-size: large;
} */

.data-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(112, 193, 119);
    margin: 5px;
    height: 40px;
    width: 580px; /* Adjust the width as needed */
    padding: 5px;
    border-radius: 5px;
}

.data-row strong {
    font-size: large;
    margin-right: 10px;
}